*{
    margin: 0;
    padding: 0;
}


img{
    width: min(350px, 100%);
    height: auto;
}

body{
    padding: 1%;
    margin: 2%;
}

h1{
    padding: 2px;
    margin-bottom: 1%;
    margin-top: 1%;
}

main{
    padding: 1%;
    margin: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: lightslategray;
}

.menu a {
    color: #03080e;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 10px;
  }

.menu :hover {
    color: #0237e7;
    text-decoration: underline;
  }